.header {
  grid-area: h;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 998;
  background: green;
}

.header img {
  width: 60px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: blue;
}